.video {
  display: flex;
  width: 96%;
  height: 110px;
  margin: 10px 10px;
}
.thumbnail {
  flex-basis: 35%;
  line-height: 110px;
}

.TitleAndName {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
}

.videoTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  margin-bottom: 5px;
}
.channelName,
.upload {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
